#add-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6f00ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}
#add-btn:hover {
    background-color: #5a00e6;
}

.add-car {
    background-color: #0101015f; 
    padding: 10px 20px;
    width:450px;
    margin: 50px auto;
    align-self: center;
    border-radius: 10px;
}